body
{
    margin: 0;
    padding: 0;
    background-color:grey;
    font-family: 'Arial';
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: black;
        border-radius: 15px ;
        padding-bottom:  10px;

}
h1{
  color:#08ffd1;
}
h2{
    text-align: center;
    color: #277582;
    padding: 20px;
}
label{
    color: #08ffd1;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
#name{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}

#dob{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}
span{
    color: white;
    font-size: 17px;
}
a{
    float: right;
    background-color: grey;
}
h2{
  color: black;
  font-size: 30px;
  font-family: fantasy;
}
